<!-- 
 index.html
-->
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Test Angular 1</title>
    <script type="text/javascript" src="js/angular.js"></script>    
</head>
<body>
    <p>String : {{ 'nothing' + ' yet!' }}</p>
    <p>Integer : {{ 1 + 29 }} </p>
</body>
</html>