<div class="row">
    <div class="col-lg-4">
        <img ng-src="{{ phone.img }}" class="img-thumbnail" style="width: 400px;"/>
    </div>
    <div class="col-lg-5">
        <h3>{{ phone.name }}</h3>
        <dl>
            <dt>Company:</dt>
            <dd>{{ phone.company }}</dd>
            <dt>Price:</dt> 
            <dd>{{ phone.price }}</dd>
            <dt>LTE:</dt>
            <dd>{{ phone.lte | checkmark }} </dd>
        </dl>
        
        <a href="#/phones">Back</a>
    </div>
</div>