<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="phonecatApp">
    <head>
        <title>Phonecat</title>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="../css/bootstrap-theme.css" />        
        <script src="../js/jquery-1.10.2.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/angular.js"></script>
        <script src="controllers.js"></script>        
    </head>
    <body ng-controller="PhoneListCtrl"> <!-- controller -->
                        
        <div class="container">
            <div class="navbar">
                <h3>Test Angular.js</h3>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form">
                        <div class="form-group">
                            <label>Search : </label>
                            <input type="text" ng-model="query" placeholder="Search" class="form-control" />
                        </div>
                        
                        <div class="form-group">
                            <label>Order : </label>
                            <select ng-model="orderProp" class="form-control" >
                                <option value="name">Name</option>
                                <option value="snippet">Snippet</option>
                                <option value="company">Company</option>
                            </select>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-10">
                    <table class="table">
                        <tr class="row">
                            <th class="col-lg-4">Name</th>
                            <th class="col-lg-3">Company</th>
                            <th>Description</th>                            
                        </tr>
                        <tr class="row" ng-repeat="phone in phones | filter: query | orderBy:orderProp">
                            <td><a href="#/phones/{{phone.id}}" class="img-thumbnail" ><img ng-src="{{ phone.img }}" style="width: 120px;" /></a>
                            <a href="#/phones/{{phone.id}}" >{{ phone.name }}</a></td>
                            <td>{{ phone.company }}</td>
                            <td>{{ phone.snippet }}</td>
                        </tr>                    
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
